prefix=/usr/local
libdir=/usr/local/lib64
includedir=/usr/local/include

Name: CLRXAmdAsm
Description: CLRX AMD assembler library
Requires: clrxamdbin
Version: 0.1.9
Libs: -L${libdir} -lCLRXAmdAsm
Cflags: -I${includedir}
